# Importer les bibliothèques nécessaires

In [7]:
import sqlite3
import pandas as pd
import json

# Charger les données d'une table en DataFrame

In [3]:
# Connexion à la base de données SQLite
conn = sqlite3.connect('cryptocurrency_dataset.db')

query = "SELECT * FROM cryptocurrencies"
df = pd.read_sql_query(query, conn)

# Fermer la connexion
conn.close()

# Afficher les premières lignes du DataFrame

In [6]:
df.head()

,id,name,symbol,slug,description,logo,date_launched,category,tags,platform,twitter_url,created_at,coingecko_id
0,1,Bitcoin,BTC,bitcoin,Bitcoin (BTC) is a cryptocurrency launched in ...,https://s2.coinmarketcap.com/static/img/coins/...,2010-07-13T00:00:00.000Z,coin,"[""mineable"", ""pow"", ""sha-256"", ""store-of-value...",null,https://x.com/bitcoin,2025-06-19 10:56:28,bitcoin
1,2,Litecoin,LTC,litecoin,Litecoin (LTC) is a cryptocurrency . Users are...,https://s2.coinmarketcap.com/static/img/coins/...,None,coin,"[""mineable"", ""pow"", ""scrypt"", ""medium-of-excha...","{""id"": ""2502"", ""name"": ""Huobi Token"", ""slug"": ...",https://x.com/litecoin,2025-06-19 10:56:28,litecoin
2,3,Namecoin,NMC,namecoin,Namecoin (NMC) is a cryptocurrency . Users are...,https://s2.coinmarketcap.com/static/img/coins/...,None,coin,"[""mineable"", ""pow"", ""sha-256"", ""platform""]",null,https://x.com/Namecoin,2025-06-19 10:56:28,namecoin
3,4,Terracoin,TRC,terracoin,Terracoin (TRC) is a cryptocurrency launched i...,https://s2.coinmarketcap.com/static/img/coins/...,2012-10-26T00:00:00.000Z,coin,"[""mineable"", ""pow"", ""sha-256"", ""masternodes""]",null,https://x.com/Terracoin_TRC,2025-06-19 15:30:01,terracoin
4,5,Peercoin,PPC,peercoin,Peercoin (PPC) is a cryptocurrency . Users are...,https://s2.coinmarketcap.com/static/img/coins/...,None,coin,"[""mineable"", ""hybrid-pow-pos"", ""sha-256"", ""med...","{""id"": ""1027"", ""name"": ""Ethereum"", ""slug"": ""et...",https://x.com/PeercoinPPC,2025-06-19 10:56:28,peercoin

# Afficher les informations sur le DataFrame

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9545 entries, 0 to 9544
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             9545 non-null   int64
 1   name           9545 non-null   object
 2   symbol         9545 non-null   object
 3   slug           9545 non-null   object
 4   description    9545 non-null   object
 5   logo           9545 non-null   object
 6   date_launched  7497 non-null   object
 7   category       9545 non-null   object
 8   tags           9545 non-null   object
 9   platform       9545 non-null   object
 10  twitter_url    9401 non-null   object
 11  created_at     9545 non-null   object
 12  coingecko_id   5556 non-null   object
dtypes: int64(1), object(12)
memory usage: 969.5+ KB

# Sélectionner seulement certaines colonnes (par exemple name et symbol) où coingecko_id est null

In [22]:
selected_columns = df.loc[df['twitter_url'].isnull(), ['name', 'symbol']]
selected_columns

               name  symbol
9     WorldCoin WDC     WDC
45          PLNcoin    PLNC
54         Motocoin    MOTO
85          PayCoin     XPY
96      Californium      CF
...             ...     ...
9117    Wizard Gang  WIZARD
9190      Pope meme    POPE
9258       gooncoin   GOONC
9394  Ecorpay Token    ECOR
9499      Causecoin   CAUSE

[144 rows x 2 columns]

# Pour accéder à un attribut spécifique d'une variable JSON, par exemple 'token_address'

In [23]:
# Pour extraire un attribut spécifique pour toutes les lignes
token_address = df.loc[df['slug'] == 'pom', 'platform'].apply(
    lambda x: json.loads(x).get('token_address') if isinstance(x, str) else x.get('token_address')
)

#if isinstance(json_data, str):
#json_data = json.loads(json_data['platform'])
#token_address = json_data.get('token_address')
token_address

8309    0xfbf174090b3cc8ebb9f39b697035a54c5c45b4d6
Name: platform, dtype: object